.productCard {
    border: 1px solid;
    border-radius: 10px;
    width: 500px;
    height: 400px;
    margin-inline: auto;
}

.productImgContainer {
    display: flex;
    width: 400px;
    height: 300px;
    margin-inline: auto;
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
}

.dotsArea {
    display: flex;
    justify-content: center;
    padding-inline: 60px;
}
