.productCard {
    border: 1px solid;
    border-radius: 4px;
    margin: 2em;
    padding: 2em;
    width: 500px;
    height: 400px;
}

.productImgContainer {
    display: flex;
    border: 1px solid red;
    width: 400px;
    height: 300px;
    margin-inline: auto;
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
}

.dotsArea {
    display: flex;
    justify-content: space-evenly;
}
